@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

:root {
    --success-color: green;
    --warming-color: orange;
    --error-color: #e74c3c;

    --success-light: rgba(0, 128, 0, 0.4);
    --warming-light: rgba(219, 142, 17, 0.4);
    --error-light: rgba(229, 21, 63, 0.4);
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.2);
}

h1 {
    margin-bottom: 30px;
}

.range {
    width: 600px;
    border: 1px solid #aaa;
    height: 50px;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
}

.process {
    background: linear-gradient(to right, #bb69cc, #246bac);
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
}

#slider {
    appearance: none;
    height: 50px;
    width: 600px;
    border-radius: 25px;
    background: green;
}

#slider::-webkit-slider-thumb {
    appearance: none;
    height: 50px;
    width: 50px;
    background: yellow;
    border-radius: 50%;

}