@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';

}

body {
    /* background: linear-gradient(145deg, #7c1599, #7e4ae8); */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.player {
    width: 800px;
    position: relative;
    overflow: hidden;
}

video {
    width: 100%;
    height: 100%;
}

.control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
    transform: translateY(100%);
}

.control * {
    margin: 0 2px;
}

.control .progress {
    flex: 1;
    background: white;
    height: 10px;
    position: relative;
    width: 100px;
}

.progress-filled {
    background: red;
    height: 100%;
    /* width: 40%; */
    position: absolute;
    top: 0;
    left: 0;
}

.player:hover .control {
    transform: unset;
    transition: 1s;
}