@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid black;
}

body {
    height: 100vh;

}

.tool {
    background: rgb(166, 166, 235);
    display: flex;
    align-items: center;
}

.tool>* {
    height: 40px;
    width: 40px;
    background: white;
    margin: 5px;
    font-size: 20px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#save {
    margin-left: auto;
}

canvas {
    background: white;
    border: 1px solid black;
    margin: 0 auto;
}

.container {
    display: flex;
    justify-content: center;
}