@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: #dadada;

}

.container {
    width: 80%;
    height: 80%;
    margin: 40px auto;
}

.main {
    height: 100%;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}

.img-feature {
    transition: 2s;
}

.list-image {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-between;
}

.list-image div {
    flex: 1;
    padding: 5px;
    cursor: pointer;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}

.control {
    position: absolute;
    top: 50%;
    font-size: 50px;
    color: white;
    /*  dich chuyen len 1 khoang bang doi tuong 50% */
    transform: translateY(-50%);
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.active {
    background: rgba(235, 27, 27, 0.722);
}

@keyframes slideLeft {
    0% {
        transform: translate(100%);
    }

    100% {
        transform: translate(0);
    }
}

@keyframes slideRight {
    0% {
        transform: translate(-100%);
    }

    100% {
        transform: translate(0);
    }
}